<!DOCTYPE html>
<html>

<head>
    <title>Simple Map</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap"></script>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/map.js"></script>
</head>

<body>
    <div id="map"></div>
</body>

</html>